    <!-- About Section -->
    <section id="about" class="container about-section content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>The great battle of our time</h2>
                <p>The light is fading. Three thousand years after his defeat, in the Third Age of Middle Earth, the Dark Lord Sauron has returned. Although he cannot yet take physical form, from his fortress of Barad-dûr the great eye sees all. Sauron has summoned an army great enough to launch an assault on all of Middle Earth.</p>
                <p>The great alliances of millennia ago are broken. The Elves are leaving Middle Earth. The Dwarves are hiding in their subterranean kingdoms. Only the humans, known as the race of Men, stand in his way.</p>
                <h2>Yet there is still hope.</h2>
                <p>The One Ring, containing much of Sauron’s power, is in the possession of The Last Alliance. This is a group of human kingdoms united under Aragorn Elessar, the last descendent of the Numenorean kings of old. His allied army has destroyed the forces of the wizard traitor Saruman at Helms Deep. It has broken the siege of Gondor, killing Sauron’s most feared Captain, the Witch King of Angmar. Today it stands at the Black Gate, once constructed to ensure Sauron’s forces could never leave Mordor, but now it is a vast shield behind which the greatest dark army ever assembled awaits Sauron’s command.</p>
                <p>Aragorn cannot hope to win against the forces arrayed against him. He can only hope to distract Sauron. To give the Ring Bearer the chance to cast the One Ring <strong>back into the fiery chasm from whence it came</strong>. For only the destruction of the One Ring will bring about Sauron’s downfall.</p>
                <h2>Today is the 25th of March</h2>
                <p> Today is the final day of the <strong>War of The Ring</strong>, and whatever the outcome, this will be the end of the Third Age of Middle Earth.</p>
                <p>Brave Ring Bearer, this is your final moment of truth. So summon all your remaining courage and strength, for into the depths of Orodruin, <strong>Mount Doom</strong>, you must go.</p>
            </div>
        </div>
    </section>
