    <!-- Mission Section -->
    <section id="mission" class="container mission-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>What is my mission?</h2>
                <p>You have made it this far, through the dreaded Pass of Cirith Ungol, but one final tortuous journey lies before you.</p>
                <p>You must travel across Mordor to the mountain of fire, Mount Doom, and cast the One Ring into the heart of the fire to bring about the downfall of The Dark Lord Sauron.</p>
                <p>This perilous journey through the dark land should be carried out in haste as <strong>one does not simply walk into Mordor.</strong></p>
                <p>Although, walking, running, cycling, step counts, and any other evidence of the journey are proof enough.</p>
                <p>You must record this activity on your fitness device so that you can send Aragorn evidence of your success. Aragorn will then send Gwahir, the Lord of the Eagles, to your rescue.</p>
                <p>Note that there is a deadly pox on the land and all quest participants must take part in a <strong>COVID-safe way</strong>. Take precautions, <strong>the very air you breathe is a poisonous fume</strong>.</p>
                <p>To help you choose an appropriate distance to travel, here are some examples of distances on Middle Earth:</p>
                <ul>
                    <li>Shire to Mordor ~3000 km</li>
                    <li>Shire to Rivendell ~600 km</li>
                    <li>Barad-dûr to Orodruin ~50 km</li>
                    <li>Gondor to Osgiliath ~30km</li>
                    <li>Erebor to Dale ~10km</li>
                </ul>
                <p>Brave Ring Bearer, any distance you choose to travel will be acceptable, for it is the destruction of the One Ring that is our priority.</p>
            </div>
        </div>
    </section>
