    <!-- Reward Section -->
    <section id="reward" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                    <h2>What is my reward?</h2>
                    <p>You will live on forever in song and memory as the Ring Bearer, the one who vanquished the greatest threat to Middle Earth since Morgoth Bauglir was chained and banished into the void.</p>
                    <p>You will also receive this exclusive medal, hand forged from Polylactic Acid (PLA) by the greatest of our smiths, the Three-Dee Printers of Prusa.</p>
                    <p align="center"><img src="img/medal.jpg" alt="A picture of the medal which is the upper part of the tower of barad dur with Sauron's great eye on top looking out." width="50%"></img></p>
                </div>
            </div>
        </div>
    </section>
